<form id="index_entryForm">
	<div class="pcoded-content">
	    <!-- Page-header start -->
	    <div class="page-header">
	        <div class="page-block">
	            <div class="row align-items-center">
	                <div class="col-md-8">
	                    <div class="page-header-title">
	                        <h5 class="m-b-10">Home</h5>
	                        <p class="m-b-0">Welcome to Daily Investment Info</p>
	                    </div>
	                </div>
	                <div class="col-md-4">
	                    <ul class="breadcrumb">
	                        <li class="breadcrumb-item">
	                            <a href="main"> <i class="fa fa-home"></i> </a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Page-header end -->
	    <div class="pcoded-inner-content">
	        <!-- Main-body start -->
	        <div class="main-body">
	            <div class="page-wrapper">
	                <!-- Page-body start -->
	                <div class="page-body">
	                    <div class="row">
	                    	<!-- Trade Viewer Start -->
							<div class="col-xl-12 col-md-24">
								<div class="card table-card">
									<div class="card-header">
	                                    <h5>차트</h5>
	                                    <div class="card-header-right">
	                                        <ul class="list-unstyled card-option">
	                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
	                                            <li><i class="fa fa-window-maximize full-card"></i></li>
	                                            <li><i class="fa fa-minus minimize-card"></i></li>
	                                            <li><i class="fa fa-refresh reload-card"></i></li>
	                                            <li><i class="fa fa-trash close-card"></i></li>
	                            			</ul>
	                            		</div>
									</div>
									<div class="tradingview-widget-container">
										<div id="tradingview_1174c"></div>
										<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
										<script type="text/javascript">
											window.setTimeout(function() {
												new TradingView.widget(
														{
														"width" : 1590,
														"height" : 800,
														"symbol": "BYBIT:BTCUSD",
														"interval": "5",
														"timezone": "Asia/Seoul",
														"theme": "light",
														"style": "1",
													  		"locale": "kr",
														  	"toolbar_bg": "#f1f3f6",
														  	"enable_publishing": false,
														"hide_side_toolbar": false,
														"allow_symbol_change": true,
														"details": true,
														"studies": [
														"DM@tv-basicstudies",
														"PSAR@tv-basicstudies"
														],
														"container_id": "tradingview_1174c"
														}
													);
											}, 200);
										</script>
									</div>
								</div>
							</div>
							<!-- TradingView Widget END -->
	                        <!-- Material statustic card start -->
	                        <!-- Material statustic card end -->
	                        <!-- order-visitor start -->
	
	
	                        <!-- order-visitor end -->
	                        
	                        <!-- Coin Price Info Start -->
	                        <div class="col-xl-6 col-md-12">
	                        	<div class="row">
									<div class="col-md-6">
										<div class="card text-center order-visitor-card">
											<div id="index_btcDiv" class="card-block">
												<h6 class="m-b-0">BTCUSD</h6>
												<h4 id="index_btcPrice" class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>7652</h4>
												<p id="index_btcPer" class="m-b-0">48% From Last 24 Hours</p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="card text-center order-visitor-card">
											<div id="index_ethDiv" class="card-block">
												<h6 class="m-b-0">ETHUSD</h6>
												<h4 id="index_ethPrice" class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>7652</h4>
												<p id="index_ethPer" class="m-b-0">48% From Last 24 Hours</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-12">
								<div class="row">
									<div class="col-md-6">
										<div class="card text-center order-visitor-card">
											<div id="index_eosDiv" class="card-block">
												<h6 class="m-b-0">EOSUSD</h6>
												<h4 id="index_eosPrice" class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>7652</h4>
												<p id="index_eosPer" class="m-b-0">48% From Last 24 Hours</p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="card text-center order-visitor-card">
											<div id="index_xrpDiv" class="card-block">
												<h6 class="m-b-0">XRPUSD</h6>
												<h4 id="index_xrpPrice" class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>7652</h4>
												<p id="index_xrpPer" class="m-b-0">48% From Last 24 Hours</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Coin Price Info End -->
							
	                        <!-- sale analytics start -->
							<div class="col-xl-6 col-md-12">
								<div class="card">
									<div class="card-header">
									<h5>뉴스</h5>
										<div class="card-header-right">
											<ul class="list-unstyled card-option">
											    <li><i class="fa fa fa-wrench open-card-option"></i></li>
											    <li><i class="fa fa-window-maximize full-card"></i></li>
											    <li><i class="fa fa-minus minimize-card"></i></li>
											    <li><i class="fa fa-refresh reload-card"></i></li>
											    <li><i class="fa fa-trash close-card"></i></li>
											</ul>
                              			</div>
                          			</div>
									<div class="card-block table-border-style">
										<div class="table-responsive">
											<table id="index_newsTable" class="table table-hover">
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
	                        <div class="col-xl-6 col-md-12">
	                        	<div class="card">
	                          <div class="card-header">
	                              <h5>게시판</h5>
	                              <div class="card-header-right">
	                                  <ul class="list-unstyled card-option">
	                                      <li><i class="fa fa fa-wrench open-card-option"></i></li>
	                                      <li><i class="fa fa-window-maximize full-card"></i></li>
	                                      <li><i class="fa fa-minus minimize-card"></i></li>
	                                      <li><i class="fa fa-refresh reload-card"></i></li>
	                                      <li><i class="fa fa-trash close-card"></i></li>
	                                  </ul>
	                              </div>
	                          </div>
	                                <!-- Nav tabs -->
	                                <ul class="nav nav-tabs md-tabs" role="tablist">
	                                    <li class="nav-item">
	                                        <a id="index_btcTab" class="nav-link active" data-toggle="tab" href="#!" role="tab">비트코인</a>
	                                        <div class="slide"></div>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a id="index_ethTab" class="nav-link" data-toggle="tab" href="#!" role="tab">이더리움</a>
	                                        <div class="slide"></div>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a id="index_rxpTab" class="nav-link" data-toggle="tab" href="#!" role="tab">리플</a>
	                                        <div class="slide"></div>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a id="index_othTab" class="nav-link" data-toggle="tab" href="#!" role="tab">기타</a>
	                                        <div class="slide"></div>
	                                    </li>
	                                </ul>
	                                <!-- Tab panes -->
	                                <div class="tab-content card-block" style="padding: 0px;">
	                                    <div class="tab-pane active" id="home3" role="tabpanel">
	                            <div class="card-block table-border-style">
	                                <div class="table-responsive">
	                                    <table id = "index_boardTable"class="table table-hover">
	                                        <tbody id="index_boardTableBody">
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                                    </div>
	                                    <div class="tab-pane" id="profile3" role="tabpanel">
	                            <div class="card-block table-border-style">
	                                <div class="table-responsive">
	                                    <table class="table table-hover">
	                                        <tbody>
	                                            <tr>
	                                                <td>Mark</td>
	                                                <td>Otto</td>
	                                                <td>@mdo</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Jacob</td>
	                                                <td>Thornton</td>
	                                                <td>@fat</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                                    </div>
	                                    <div class="tab-pane" id="messages3" role="tabpanel">
	                            <div class="card-block table-border-style">
	                                <div class="table-responsive">
	                                    <table class="table table-hover">
	                                        <tbody>
	                                            <tr>
	                                                <td>Mark</td>
	                                                <td>Otto</td>
	                                                <td>@mdo</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Jacob</td>
	                                                <td>Thornton</td>
	                                                <td>@fat</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                                    </div>
	                                    <div class="tab-pane" id="settings3" role="tabpanel">
	                            <div class="card-block table-border-style">
	                                <div class="table-responsive">
	                                    <table class="table table-hover">
	                                        <tbody>
	                                            <tr>
	                                                <td>Mark</td>
	                                                <td>Otto</td>
	                                                <td>@mdo</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Jacob</td>
	                                                <td>Thornton</td>
	                                                <td>@fat</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                            <tr>
	                                                <td>Larry</td>
	                                                <td>the Bird</td>
	                                                <td>@twitter</td>
	                                            </tr>
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                                    </div>
	                                </div>
	                            </div>
	                        	</div>
	                        </div>
	
	                        <!--  sale analytics end -->
	
	                        <!-- Project statustic start -->
	                        <div class="col-xl-12">
	                            <div class="card proj-progress-card">
	                                <div class="card-block">
	                                    <div class="row">
	                                        <div class="col-xl-3 col-md-6">
	                                            <h6>Published Project</h6>
	                                            <h5 class="m-b-30 f-w-700">532<span class="text-c-green m-l-10">+1.69%</span></h5>
	                                            <div class="progress">
	                                                <div class="progress-bar bg-c-red" style="width:25%"></div>
	                                            </div>
	                                        </div>
	                                        <div class="col-xl-3 col-md-6">
	                                            <h6>Completed Task</h6>
	                                            <h5 class="m-b-30 f-w-700">4,569<span class="text-c-red m-l-10">-0.5%</span></h5>
	                                            <div class="progress">
	                                                <div class="progress-bar bg-c-blue" style="width:65%"></div>
	                                            </div>
	                                        </div>
	                                        <div class="col-xl-3 col-md-6">
	                                            <h6>Successfull Task</h6>
	                                            <h5 class="m-b-30 f-w-700">89%<span class="text-c-green m-l-10">+0.99%</span></h5>
	                                            <div class="progress">
	                                                <div class="progress-bar bg-c-green" style="width:85%"></div>
	                                            </div>
	                                        </div>
	                                        <div class="col-xl-3 col-md-6">
	                                            <h6>Ongoing Project</h6>
	                                            <h5 class="m-b-30 f-w-700">365<span class="text-c-green m-l-10">+0.35%</span></h5>
	                                            <div class="progress">
	                                                <div class="progress-bar bg-c-yellow" style="width:45%"></div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Project statustic end -->
	                    </div>
	                </div>
	                <!-- Page-body end -->
	            </div>
		<div id="styleSelector"> </div>
		</div>
	</div>
</form>
<script src="/js/main/index.js"></script>