<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Portfolio Info</h5>
                        <p class="m-b-0">포트폴리오 기술서</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="main"> <i class="fa fa-home"></i> </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body breadcrumb-page">
                    <!-- Bottom Breadcrumb card end -->
                    <!-- Without-icon Breadcrumb card start -->
                    <div class="card">
                        <div class="card-block caption-breadcrumb">
                            <div class="breadcrumb-header">
                                <h5>Main Framework</h5>
                                <span> JAVA Spring Boot - Maven</span>
                                <span> Python</span>
                                <span> JavaScript - JQuery</span>
                                <span> HTML</span>
                                <span> CSS</span>
                                <br>
                                <h5>Server</h5>
                                <span> Naver Cloud - Linux</span>
                                <br>
                                <h5>Database</h5>
                                <span> MySql</span>
                                <br>
                                <h5>Operate Portfolio</h5>
                                <span> GitHub</span>
                                <span> Scouter(서버상태관리)</span>
                                <span> Jenkins(무중단배포)</span>
                                <br>
                                <h5>Details</h5>
                                <span> News - JAVA Scheduler를 통해 매시간 Jsoup을 활용하여 자동으로 Crawling 진행</span>
                                <span> Board - Bootstrap DataTables 사용</span>
                                <span> 다국어관리 - Alert 과 각 화면의 문장, 단어를 Papago API를 통해 번역 후 코드로 관리하여 User의 선택에 따라 언어 변경 가능하도록 구현</span>
                                <span> 실시간차트 - TradingViews의 차트 API를 사용하고, 실시간 가격은 Upbit API를 통해 받아오도록 구현</span>
                                <span> 자동매매 - 5분 주기로 돌아가는 Python Daemon을 만들어 Bybit PIP를 통해 받아온 데이터를 가공하여 매수, 매도를 자동으로 진행</span>
                                <span> Chart - 자동매매에 등록된 사용자들의 매수, 매도이력과 그에 따른 정산 데이터(Invoice AR&AP)를 생성해 차트로 표시</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-body start -->
            </div>
        </div>
        <!-- Main-body start -->

        <div id="styleSelector">

        </div>
    </div>
</div>